/*
CSS Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5e m;
	font-family: New Century Schoolbook Roman;
	font-size: 18px;
	color: #dbdada;
	background-color:white;
	background-image:url(images/Background_OrangeLB.PNG);
	background-repeat:no-repeat;
}

a:link, a:visited { color: #5b93ef; text-decoration: underline; font-weight: normal; } 
a:active, a:hover { color: #5b93ef; text-decoration: none; }

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 {
	clear: both;
	width: 100%;
	height: 10px;
	font-size: 1px;
}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_40 { margin-right: 40px; }
.margin_right_70 { margin-right: 70px; }

.fl { float: left; }
.fr { float: right }

.em_text {
	color: #ffffff;
}

/* Body - Left Column Button Description */
.header_01 {
	clear: both;
	height: 37px;
	padding: 8px 0 0 10px;
	margin-bottom: 20px;
	background: #161616 url(images/templatemo_header_icon.jpg) center right no-repeat;
	font-family: Comic Sans MS, "DejaVu Serif"; 	/* Kunstler Script*/
	font-size: 16px;
	color: #ffffff;
}

/*		Whole Body		*/
#templateo_container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

/* top panel */
#templatemo_top_panel {
	clear: both;
	width: 960px;
	height: 110px;
	padding: 10px 0;
}

/* top panel - Site Title*/
#site_title {
	float: left;
	width: 450px;
	margin-top: 15px;
	font-size: 60px;
	padding: 10px 0;
	color: #e8e8e8;
	font-family: Comic Sans MS;
	text-decoration: none;
}
/* top panel - Site Title : Lauriane & Bastien*/
#site_title a {
	color: #e8e8e8;
	text-decoration: none;
}
/* top panel - Site Title : C'est pas du boudin!*/
#site_title span {
	display: block;
	margin-left: 70px;
	margin-top: 5px;
	font-size: 32px;
	color: #767676;
}
/* end of top panel */

/* menu & banner panel */
#templatemo_menu_banner_panel {
	clear: both;
	height: 196px;
	padding: 10px;
	background: #3c3b3b;
	overflow: hidden;
}

/* menu */
#templatemo_menu_wrapper {
	float: left;
	width: 278px;
	height: 278px;
	background: #3c3b3b;
	padding: 1px;
	overflow: hidden;
}

#templatemo_menu {
	padding: 14px 28px;
	border: 1px solid #313131;
	background: #262626;
	overflow: hidden;	
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	width: 200px;
	height: 38px;
	padding: 0 0 0 20px;
	margin: 0px;	
	background: #161616;	
	margin-bottom: 4px;
}

#templatemo_menu ul li:hover {
	background: #0d0d0d;
}

/*		Bouton menu		*/
#templatemo_menu ul li a {
	display: block;
	width: 170px;
	height: 32px;
	padding: 8px 0 0 30px;	/*[ 5 Espace Top-Texte]	0	0	[30 Espace fleche-Texte]*/
	color: #9fa2a4;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;		/*28*/
	font-family: Comic Sans MS, "DejaVu Serif";		/*"Kunstler Script"*/
	font-style: normal;
	background: url(images/templatemo_menu_list_icon.jpg) left center no-repeat;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #ffffff;
}

#templatemo_menu .last {
	margin-bottom: 0px;
}

/* end of menu*/
#templatemo_banner {
	float: right;
	width: 550px;
	height: 180px;
	padding: 32px;
	overflow: hidden;
	background: url(images/templatemo_banner_bg_LB.jpg) no-repeat;
}

#templatemo_banner p {
	font-size: 14px;
	color: #ffffff;
}

#templatemo_banner a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

/* end of menu & banner panel */
#templatemo_content_wrapper {
	clear: both;
	width: 940px;
	background: #3c3b3b;
	padding: 10px;
	margin-top: 10px;	
}

#templatemo_content {
	padding: 30px;
	background: #262626;
}

#templatemo_side_column {
	float: left;
	width: 220px;
}

.side_column_content {
	clear: both;
	padding: 0 10px;
}

.news_section {
	clear: both;
	margin-bottom: 20px;
}

.news_date {
	color: #ffffff;
	font-weight: bold;
}

#templatemo_main_content_column {
	float: right;
	width: 600px;
}

.section_w600 {
	padding: 0 10px;
}

#templatemo_main_content_column p {
	margin-bottom: 15px;
}

#templatemo_main_content_column img {
	border: 10px solid #000000;
	margin-bottom: 5px;
}

.fl_image {
	float: left;
	margin: 3px 15px 5px 0;
}

.section_w280 {
	width: 280px;
}

.section_w280_content {
	padding: 0 10px;
}

.content_list_01 {
	margin: 0 0 0 40px;
	padding: 0px;
}

.content_list_01 li {
	margin: 0px;
	padding: 0 0 5px 0;
	list-style: decimal-leading-zero;
}

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 940px;
	padding: 20px 10px;
	text-align: center;
}

#templatemo_footer a {
	color: #ffffff;
	text-decoration: none;
}
/* end of footer */
